.play {
  display: grid;
  grid-template-rows: 55px 1fr 1.4fr;
}

#course_name {
  display: inline;
  display: flex;
  font-size: xx-large;
  transform: translate(20px, 0);
}

#count_down {
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 20px;
}

.display {
  background-color: #dfdddd;
  height: 80%;
  width: 80%;
  aspect-ratio: 1 / 1;
  margin: auto;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.display>img {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none;
}

.display>.bear {
  height: 100%;
  width: 100%;
  object-fit: contain;
  user-select: none;
}

.display>.background {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.selector {
  background-color: #a1d2e9;
}

.question {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.selection_list {
  justify-content: center;
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: 1fr;
  text-align: center;
  list-style: none;
  gap: 20px;
}

.selection_list button {
  height: 100%;
  width: 85%;
  line-height: 100%;
  font-size: x-large;
}

.incorrect {
  animation: incorrect ease 2s;
}

.correct {
  animation: correct ease-out 1.5s;
  animation-fill-mode: forwards;
}

@keyframes incorrect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes correct {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.answer {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #c38686;
  bottom: 0;
  width: 100%;
  height: 50%;
  height: 350px;
  transition: opacity 0.5s;
  z-index: 50;
  border-radius: 20px 20px 0 0;
}

.answer_selection {
  text-align: center;
  border-bottom: solid 2px #dd9a9a;
}

.answer_explanation {
  padding: 5px;
  font-size: xx-large;
}

.next_step {
  opacity: 0;
  position: absolute;
  width: 90px;
  width: auto;
  height: 50px;
  right: 10px;
  bottom: 50%;
  border: 0;
  border-radius: 7px;
  outline: none;
  font-size: larger;
  transition: opacity 0.5s;
}

.effect {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.effect_correct {
  background-image: url("../image/effect/correct.png");
  animation: effect_animation ease 3s infinite;
}

.effect_incorrect {
  background-image: url("../image/effect/incorrect.png");
  animation: effect_animation ease 3s infinite;
}

@keyframes effect_animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
