.please-rotate {
  position: absolute;
  display: none;
  z-index: 110;
  height: 100px;
  height: 64px;
  width: 300px;
  width: 415px;
  right: 10px;
  bottom: 10px;
  background-color: #cce3ed;
  text-align: center;
  border-radius: 12px;
  border: solid 2px #000;
}

.please-rotate h2 {
  display: inline;
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: xx-large;
}

.please-rotate img {
  display: inline;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 5px;
  animation: please-rotate 3s infinite ease;
}

body > .active {
  display: block;
}

@keyframes please-rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: -20deg;
  }

  100% {
    rotate: 0deg;
  }
}
