.game_result {
  color: #cecece;
  display: flex;
  justify-content: center;
  margin-top: 40%;
  font-size: xx-large;
}

.result > .go_title {
  position: absolute;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  border: 0;
  font-size: larger;
  bottom: 16%;
  right: 20px;
}

.game_result_image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
