* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

:root {
  --fade_time: 0.2s;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.contents {
  height: 100vh;
  max-width: 500px;
  background-color: #c6c6c6;
  margin: 0 auto;
  position: relative;
  min-width: 325px;
  overflow: hidden;
}

.contents>.active {
  opacity: 1;
  touch-action: unset;
  z-index: 100;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--fade_time) ease-in-out;
  background-color: #a5e9e9;
  background-image: linear-gradient(90deg, #29db77e0 9%, #43e9b3cc 90%, #5df7efb8);
  background-image: linear-gradient(181deg, #0da573cc 27%, #18904ce0 100%, #5df7efb8);
  touch-action: none;
}

.page>header {
  background-color: #d4d4d4;
  height: 55px;
  padding: 5px 0;
}
